<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>U4G - Sustainability education website</title>
    <link
      rel="shortcut icon"
      href="public/img/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="public/main.css" />
    <link
      rel="preload"
      href="public/Nestle.woff2"
      as="font"
      type="font/woff2"
      crossorigin="“anonymous”"
    />
    <link
      rel="preload"
      href="public/NestleBold.woff2"
      as="font"
      type="font/woff2"
      crossorigin="“anonymous”"
    />
    <link
      rel="preload"
      href="public/NestleBrush.woff2"
      as="font"
      type="font/woff2"
      crossorigin="“anonymous”"
    />
    <link
      rel="preload"
      href="public/NestleScript.woff2"
      as="font"
      type="font/woff2"
      crossorigin="“anonymous”"
    />
    <!-- Google Tag Manager -->
    <!--<script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WCNFTH");
    </script>-->
    <!-- End Google Tag Manager -->
  </head>
  <body class="preload">
    <!-- Google Tag Manager (noscript) -->
    <!--<noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WCNFTH"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>-->
    <!-- End Google Tag Manager (noscript) -->

    <div id="app">
      <header>
        <img src="public/img/U4G.webp" alt="U4Green logo" />
        <nav>
          <a href="#general">#general</a>
          <a href="#energy">#energy</a>
          <a href="#technology">#technology</a>
          <a href="#circular">#circular-economy</a>
          <a href="#foodwaste">#food-waste</a>
          <a href="#animals">#animals</a>
          <a href="#agriculture">#agriculture</a>
          <a href="#deforestation">#deforestation</a>
          <a href="#business">#business</a>
        </nav>
        <p id="intro">
          This site was created to act as a hub of information about
          sustainability as a part of CZ&SK U4Green initiative. Here you can
          find relevant sources for pretty much any topic concerning
          sustainability (with a bit of bias towards Nestlé centered topics). If
          you feel like something is missing or you have a source you would like
          to share with others you can contact us using
          <a href="https://forms.office.com/r/CXxe9Z5732">this form</a>.
        </p>
        <h2>Click on a card to learn more!</h2>
      </header>
      <main v-cloak>
        <div class="flipcard" v-for="(card, index) in content" :id="card.id">
          <div class="front">
            <h2 v-html="card.name"></h2>
          </div>
          <div class="back">
            <h2 v-if="card.internal != ''">Internal sources</h2>
            <div class="links">
              <a
                v-for="(item) in card.internalShort"
                :href="item.url"
                target="_blank"
                >{{item.text}}</a
              >
            </div>
            <h2>External sources</h2>
            <div class="links">
              <a
                v-for="(item) in card.externalShort"
                :href="item.url"
                target="_blank"
                >{{item.text}}</a
              >
            </div>
            <button
              v-if="card.external.length > 12"
              class="more"
              @click="more(index)"
            >
              See more
            </button>
          </div>
        </div>
      </main>
      <div id="moreOverlay" v-cloak v-if="!showMore.hidden">
        <a href="javascript:void(0)" class="closebtn" @click="less">&times;</a>
        <div class="overlaycontent">
          <h2 v-html="showMore.name"></h2>
          <h3 v-if="showMore.internal != ''">Internal sources</h3>
          <div class="links">
            <a
              v-for="(item) in showMore.internal"
              :href="item.url"
              target="_blank"
              >{{item.text}}</a
            >
          </div>
          <h3 v-if="showMore.external != ''">External sources</h3>
          <div class="links">
            <a
              v-for="(item) in showMore.external"
              :href="item.url"
              target="_blank"
              >{{item.text}}</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="progress-wrap">
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>

    <script src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./app.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        document.body.className = "";
      });
      const cards = document.querySelectorAll(".flipcard");
      const toplinks = document.querySelectorAll("nav a");
      document.querySelector(".progress-wrap").addEventListener("click", () => {
        cards.forEach((item) => {
          let links = item.querySelectorAll(".back a");
          let headers = item.querySelectorAll(".back h2");
          if (item.classList.contains("flip")) {
            item.classList.remove("flip");
            setTimeout(function () {
              links.forEach((link) => {
                link.classList.add("hidden");
              });
              headers.forEach((header) => {
                header.classList.add("hidden");
              });
            }, 300);
          }
        });
      });
      cards.forEach((item) => {
        let links = item.querySelectorAll(".back a");
        let headers = item.querySelectorAll(".back h2");
        links.forEach((link) => {
          link.classList.add("hidden");
        });
        headers.forEach((header) => {
          header.classList.add("hidden");
        });
        item.addEventListener("click", (event) => {
          if (
            event.target.nodeName == "A" ||
            event.target.nodeName == "BUTTON"
          ) {
          } else if (item.classList.contains("flip")) {
            item.classList.remove("flip");
            setTimeout(function () {
              links.forEach((link) => {
                link.classList.add("hidden");
              });
              headers.forEach((header) => {
                header.classList.add("hidden");
              });
            }, 300);
          } else {
            item.classList.add("flip");
            links.forEach((link) => {
              link.classList.remove("hidden");
            });
            headers.forEach((header) => {
              header.classList.remove("hidden");
            });
          }
        });
      });
      toplinks.forEach((link) => {
        link.addEventListener("click", (event) => {
          event.preventDefault;
          let targetcard = document.querySelector(link.hash);
          targetcard.scrollIntoView({ behavior: "smooth" });
          let links = targetcard.querySelectorAll(".back a");
          let headers = targetcard.querySelectorAll(".back h2");
          setTimeout(function () {
            if (targetcard.classList.contains("flip")) {
            } else {
              targetcard.classList.add("flip");
              links.forEach((link) => {
                link.classList.remove("hidden");
              });
              headers.forEach((header) => {
                header.classList.remove("hidden");
              });
            }
          }, 550);
          setTimeout(function () {
            var uri = window.location.toString();
            var clean_uri = uri.substring(0, uri.indexOf("#"));
            window.history.replaceState(
              {
                id: "clean",
              },
              "U4G",
              clean_uri
            );
          }, 2000);
        });
      });
    </script>
    <script>
      const progressPath = document.querySelector(".progress-wrap path");
      const pathLength = progressPath.getTotalLength();
      const wrapper = document.querySelector(".progress-wrap");

      progressPath.style.transition = progressPath.style.WebkitTransition =
        "none";
      progressPath.style.strokeDasharray = pathLength + " " + pathLength;
      progressPath.style.strokeDashoffset = pathLength;
      progressPath.getBoundingClientRect();
      progressPath.style.transition = progressPath.style.WebkitTransition =
        "stroke-dashoffset 10ms linear";

      function updateProgress() {
        var scroll = window.scrollY;
        var height =
          document.body.clientHeight +
          document.querySelector("header").offsetTop +
          80 -
          window.innerHeight;
        var progress = pathLength - (scroll * pathLength) / height;
        progressPath.style.strokeDashoffset = progress;
      }

      updateProgress();

      window.addEventListener("scroll", () => {
        updateProgress();
      });

      var offset = 50;
      var duration = 550;

      window.addEventListener("scroll", function () {
        if (window.scrollY > offset) {
          document
            .querySelector(".progress-wrap")
            .classList.add("active-progress");
        } else {
          document
            .querySelector(".progress-wrap")
            .classList.remove("active-progress");
        }
      });

      document
        .querySelector(".progress-wrap")
        .addEventListener("click", (event) => {
          event.preventDefault();
          window.scroll({
            top: 0,
            behavior: "smooth",
          });
          return false;
        });
    </script>
  </body>
</html>
